# Theirs
.lighthouseci/
.netlify/
.next/
.playwright-mcp/
.trekker/
.vercel/
build/
node_modules/
out/
.DS_Store
*.log
*.tsbuildinfo
next-env.d.ts

# Mine
.env
.env.local
.local-cache/
ci/lighthouse/urls.json
