---
import nav, { type NavItem } from '../data/nav'
import site from '../data/site'
import { isPathnameInCollection } from '../utils/collections'
import { getPublishedPosts, getScheduledPosts } from '../utils/posts'
import { getNotes } from '../utils/notes'
import { getBookmarks } from '../utils/bookmarks'
import { getDrafts } from '../utils/drafts'

const publishedPosts = await getPublishedPosts()
const scheduledPosts = await getScheduledPosts()
const drafts = await getDrafts()
const notes = await getNotes()
const bookmarks = await getBookmarks()

const { pathname } = Astro.url

const maxWidthByPathname: Record<string, string> = {
  '/': 'max-w-[70ch]',
}

// see: https://docs.astro.build/en/reference/api-reference/#astrourl
const isCurrentPage = (item: NavItem): boolean =>
  item.url === pathname ||
  (isPathnameInCollection(pathname, publishedPosts) && item.url === '/') ||
  (isPathnameInCollection(pathname, scheduledPosts) && item.url === '/notes/') ||
  (isPathnameInCollection(pathname, drafts) && item.url === '/notes/') ||
  (isPathnameInCollection(pathname, notes) && item.url === '/notes/') ||
  (isPathnameInCollection(pathname, bookmarks) && item.url === '/notes/')
---

<header class=`mx-auto mb-12 bg-zinc-900 pt-7 w-full ${maxWidthByPathname?.[pathname] ?? ''}`>
  <a href="#skip" class="sr-only">Skip to main content</a>

  <nav>
    <h2 class="sr-only">Top level navigation menu</h2>

    <ul class="flex flex-wrap">
      <li class="pb-1 w-full">
        <a href="/" class="text-lg font-semibold text-white">{site.title}&nbsp;👋</a>
      </li>

      {
        nav.top.map(item => (
          <li class="me-3 text-lg lowercase">
            <a href={item.url} aria-current={isCurrentPage(item) ? 'page' : false} class="link-nav">
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
