/* TODO: migrate more of these inline? */

@import 'tailwindcss';

@import './components/syntax-highlighting';

@layer base {
  :root {
    --accent: #ff98a4;
    --accent-translucent: #ff98a485;
  }
}

@utility shadow-glow {
  /* solid shadow, glow shadow */
  box-shadow:
    0 0 0 0.15em var(--accent),
    0 0 1.5em 0 var(--accent);
}

@utility border-accent {
  border-color: var(--accent);
}

@utility bg-accent {
  background-color: var(--accent);
}

@utility bg-accent {
  background-color: var(--accent);
}

@utility text-accent {
  color: var(--accent);
}

@utility decoration-bright {
  @apply decoration-white;
}

@utility decoration-accent {
  text-decoration-color: var(--accent);
}

@utility decoration-accent-translucent {
  text-decoration-color: var(--accent-translucent);
}

@utility text-bright {
  @apply text-white;
}

@utility heading {
  @apply text-bright break-after-avoid leading-tight font-semibold;
}

@utility link {
  @apply box-decoration-clone underline;
  @apply underline-offset-[0.2em] decoration-[0.1em] decoration-accent-translucent text-accent;

  text-decoration-skip-ink: none;

  &:hover {
    @apply shadow-glow outline-none rounded-[0.75px] bg-accent text-black;
  }

  /* group-focus is for instances where I've styled a span inside a flex-child anchor (to avoid full-width stretch) */
  @apply group-focus:shadow-glow group-focus:outline-none group-focus:bg-accent group-focus:text-black;
}

@utility link-nav {
  @apply link underline-offset-[0.2em];
  @apply decoration-transparent decoration-solid decoration-[0.15em] text-zinc-300;

  &[aria-current='page'] {
    @apply decoration-accent font-medium text-white;

    &:hover {
      @apply text-black;
    }
  }
}

@utility link-heading {
  @apply box-decoration-clone underline;
  @apply underline-offset-[0.2em] decoration-[0.1em] decoration-accent-translucent text-accent;

  text-decoration-skip-ink: none;

  &:hover {
    @apply outline-none decoration-bright text-bright;
  }
}

@utility list {
  @apply mt-4 ps-7;
}

@utility list-item {
  @apply mt-1 leading-normal;
}

@utility image {
  @apply my-8 rounded-lg;
  @apply bg-zinc-800;
}

@utility caption {
  @apply mt-1 text-center text-[0.9rem];
  @apply text-zinc-500;
}

@utility timestamp {
  @apply text-sm uppercase;
}

@utility home-page-full-posts {
  & .markdown {
    /* smaller subheadings on the home page */
    & h2 {
      @apply heading mt-8 text-[1.4rem];
    }
    & h3 {
      @apply heading mt-8 text-xl;
    }
  }
}

.markdown {
  & h1 {
    @apply heading mb-8 text-[2.25rem] leading-[1.1] font-bold;
  }
  & h2 {
    @apply heading mt-8 text-[1.6rem];
  }
  & h3 {
    @apply heading mt-8 text-xl;
  }
  & h4 {
    @apply heading mt-6 text-lg;
  }
  & h5 {
    @apply heading mt-4 text-base;
  }
  & h6 {
    @apply heading mt-4 text-sm;
  }

  & p {
    @apply mt-4;

    & + ul,
    & + ol {
      @apply mt-3;
    }
  }

  & a {
    @apply link font-medium;
  }

  & ul,
  & ol {
    @apply list;
    @apply marker:text-accent;
  }

  & ul {
    @apply list-disc;
  }

  & ol {
    @apply list-decimal;
  }

  & li {
    @apply mt-1;

    & > ul,
    & > ol,
    & > p {
      @apply mt-0;
    }
  }

  img {
    @apply image;
  }

  figure {
    & figcaption {
      @apply caption;
    }
  }

  & strong,
  & em {
    @apply text-bright;
  }

  & blockquote {
    @apply ms-4 border-l-4 pl-3 italic;
    @apply border-accent text-bright;
  }

  & time {
    @apply timestamp;
  }

  & table {
    @apply table-auto my-8 border-collapse;

    & td,
    & th {
      @apply px-2 py-1 text-left;
      @apply border border-zinc-700;
    }

    & td {
      &:first-of-type {
        @apply font-medium text-zinc-300;
      }
    }

    & th {
      @apply sticky top-0;
      @apply bg-zinc-900 font-semibold text-bright;
    }
  }

  /* e.g. YouTube and Twitter embeds */
  & iframe {
    @apply my-5 aspect-video rounded-lg w-full h-auto;
  }

  & hr {
    @apply my-8 border-solid border-zinc-600;
  }
}

@layer components {
  .footnotes {
    @apply mt-8 text-[0.9rem];
  }
}

@layer components {
  .giscus {
    @apply mt-16;
  }
}

/* see: https://blog.logrocket.com/hide-scrollbar-without-impacting-scrolling-css/ */
@utility hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* For Blink- and WebKit-based browsers (e.g., Chrome, Edge, Opera, Safari, all browsers on iOS, and others). */
  &::-webkit-scrollbar {
    @apply hidden;
  }
}
